<!DOCTYPE HTML>
<html ng-app="ENSapp">
  <head>
    <script src="./node_module/jquery/dist/jquery.min.js"></script>
    <script src="./node_module/angular/angular.min.js"></script>
	<script src="./node_module/angular-animate/angular-animate.min.js"></script>
	<script src="./node_module/angular-aria/angular-aria.min.js"></script>
    <script src="./node_module/angular_material/angular-material.min.js"></script>
  </head>
  <body ng-controller="helloCtrl" >
    {% verbatim %}      
	<div>
	  <label>Name:</label>
      <input type="text" ng-model="name" placeholder="Enter a name here">
      <h1>Hello, {{name}}~</h1>
      <h1>This is a Earthquake Notification System!</h1> 
    </div>
    {% endverbatim %}
  </body>
</html>
