
<!DOCTYPE HTML>
<html ng-app="ENSapp">
  <head>
    <script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/static/node_modules/angular/angular.min.js"></script>
    <script src="/static/js/hello.js"></script>
  </head>
  <body ng-controller="helloCtrl" >
    <p>Date : {{ now|date }}</p>
    {% verbatim %}      
	<div>
	  <label>Name:</label>
      <input type="text" ng-model="name" placeholder="Enter a name here">
      <h1>Hello, {{name}}~</h1>
      <h1>This is a Earthquake Notification System!</h1> 
    </div>
    {% endverbatim %}
  </body>
</html>
